/**
 * Spritesheet
 * -----------------------------------------------------------------------------
 * Add your own map to this with add-gg-spritesheet().
 */

$gg-spritesheet: () !default;

/**
 * Recursive Map Get
 * -----------------------------------------------------------------------------
 * @param   map         $map        Map to search.
 * @param   list        $terms      Terms to search for wtihin the map.
 * @param   map         $map        Recursively-fetched results.
 */

@function gg-map-seek($map, $terms: default) {
    @each $term in $terms {
        @if map-has-key($map, $term) {
            $map: map-get($map, $term);
        } @else {
            $map: null;
        }
    }

    @return $map;
}

/**
 * Add Spritesheet to Spritesheet Map
 * -----------------------------------------------------------------------------
 * @param   string      $key                Associative key for added map.
 * @param   map         $map                Spritesheet map.
 * @return  map         $gg-spritesheet     Complete map of sprites.
 */

@function gg-add-spritesheet($key, $map) {
    $gg-spritesheet: map-merge($gg-spritesheet, ($key: $map)) !global;
    @return $gg-spritesheet;
}

/**
 * Access Spritesheet
 * -----------------------------------------------------------------------------
 * Return requested information about the spritesheet.
 *
 * @param   string      $command        Action to perform on spritesheet.
 * @param   string      $sheet          Sheet on which to perform action.
 * @param   map         $args           Any other args (size axis or sprite).
 * @param   map         $results        Requested information.
 */

@function gg-spritesheet($command, $sheet: null, $arg: null) {
    $results: '';

    @if $command == sprite {
        $results: gg-map-seek($gg-spritesheet, $sheet sprites $arg); 

        @if not $results {
            @error "Sprite '#{$arg}' not found in sheet '#{$sheet}'!";
        }
    }

    @if $command == path {
        $results: gg-map-seek($gg-spritesheet, $sheet path);
    }

    @if $command == count {
        $results: length(gg-map-seek($gg-spritesheet, $sheet));
    }

    @if $command == dimensions {
        $results: gg-map-seek($gg-spritesheet, $sheet dimensions);
    }

    @if $command == seek {
        $reults: gg-map-seek($gg-spritesheet, $sheet $arg);
    }

    @return $results;
}

/**
 * Return Count of Sprites
 * -----------------------------------------------------------------------------
 * @param   string      $sheet          Target spritesheet.
 * @return  number                      Count of sprites in sheet.
 */

@function gg-count($sheet) {
    @return gg-spritesheet(count, $sheet);
}

/**
 * Return Spritesheet Path
 * -----------------------------------------------------------------------------
 * @param   string      $sheet          Target spritesheet.
 * @return  string                      Path to spritesheet.
 */

@function gg-path($sheet) {
    @return gg-spritesheet(path, $sheet);
}

/**
 * Return Spritesheet Dimensions
 * -----------------------------------------------------------------------------
 * @param   string      $sheet          Target spritesheet.
 * @param   string      $axis           Optional axis to return.
 * @return  number      $dimension      Spritesheet gg-dimension(s).
 */

@function gg-dimension($sheet, $axis: null) {
    $dimension: gg-spritesheet(dimensions, $sheet);

    @if $axis {
        @if $axis == x or $axis == y {
            $n: if($axis == x, 1, 2);
            $dimension: nth($dimension, $n);
        } @else {
            @error "Imaginary axis #{$axis} requested!"    
        }
    }

    @return $dimension;
}

/**
 * Get Sprite from Spritesheet
 * -----------------------------------------------------------------------------
 * @param   string      $sheet          Target spritesheet.
 * @param   string      $sprite         Sprite to fetch.
 * @return  map                         Sprite information.
 */

@function gg-get-sprite($sheet, $sprite) {
    @if length($sprite) > 1 {
        $sprite: nth($sprite, 1);
    }

    @return gg-spritesheet(sprite, $sheet, $sprite);
}

/**
 * Get Sprite Position
 * -----------------------------------------------------------------------------
 * Return X/Y CSS position of sprite as a percentage.
 *
 * @param   string      $sheet          Target spritesheet.
 * @param   string      $sprite         Sprite to fetch.
 * @return  map         $x $y           Percentage position of sprite.
 */

@function gg-sprite-position($sheet, $sprite) {

    $sprite: gg-get-sprite($sheet, $sprite);
    $sheet: gg-dimension($sheet);

    $sprite-x: nth($sprite, 1);
    $sprite-y: nth($sprite, 2);
    $sheet-x: nth($sheet, 1);
    $sheet-y: nth($sheet, 2);

    $x: percentage($sprite-x / ($sheet-x - 1));
    $y: percentage($sprite-y / ($sheet-y - 1));

    @return $x $y;
}

/**
 * Get Sprite Size
 * -----------------------------------------------------------------------------
 * Return W/H CSS size of sprite as a percentage.
 *
 * @param   string      $sheet          Target spritesheet.
 * @param   string      $sprite         Sprite to fetch.
 * @return  map         $x $y           Percentage size of sprite.
 */

@function gg-sprite-size($sheet, $sprite) {
    $sheet: gg-dimension($sheet);

    $x: percentage(nth($sheet, 1));
    $y: percentage(nth($sheet, 2));

    @return $x $y;
}

/**
 * Sprite Background Property
 * -----------------------------------------------------------------------------
 * @param   string      $sheet          Target spritesheet.
 * @param   string      $sprite         Sprite to fetch.
 * @return  map                         CSS background value for sprite.
 */

@function gg-sprite($sheet, $sprite) {
    $position: gg-sprite-position($sheet, $sprite);
    $size: gg-sprite-size($sheet, $sprite);
    $path: url(gg-path($sheet));

    @return $position/$size no-repeat $path;
}

/**
 * Include Sprite Main Mixin
 * -----------------------------------------------------------------------------
 * Main entry point for this library. TL;DR: This makes a square(ish) sprite the 
 * centered background image of a square container. If either or both is square 
 * weird things will occur. WARE YE.
 * 
 * Square is good. All hail the squre. 
 *
 * @param   string      $sheet          Target spritesheet.
 * @param   string      $sprite         Sprite to fetch.
 */

@mixin gg-sprite($sheet, $sprite, $selector) {
    &#{$selector} {
        background: gg-sprite($sheet, $sprite);
    }

    @content;
}
