/// 
/// Flexible Square Boxes
/// 
/// Generate a box whose height is equal to the given ratio of the width.
/// Width can be of any size. Ratio can be any value between 0 and $foo.
/// 
/// Any unit, fixed or percentage, is acceptable.
///
/// @example scss - fluid-square function.
///
///     @include fluid-square(50px 1); =>
///     
///     height: 0;
///     padding-top: 50px;
///     width: 50px;
///
/// @example scss - fluid-square function.
///
///     @include fluid-square(100% 0.75); =>
///
///     height: 0;
///     padding-bottom: 75%;
///     width: 100%;
/// 
/// @access public
/// @link http://stackoverflow.com/a/13625843/1433400
/// @param {map} $size - Horizontal width and height ratio.
///

@mixin fluid-square($size: 100% 1) {
    $width: nth($size, 1);
    $ratio: strip-unit(nth($size, 2)) * $width;

    height: 0;
    padding-bottom: $ratio;
    width: $width;
}

/// 
/// Decimal multiplier margin and padding.
/// 
/// TODO: Figure out what this mixin actually does.
///
/// These two don't do too much except make life easier: Set margin or padding
/// as a multiplier of the base margin and padding. The side can be appended
/// through an optional operator. If you do set a side, every margin or padding
/// except the first passed will be silently discarded.
/// 
/// @access public
/// @param {string} $attribute - Attribute to set sizes for.
/// @param {list} $values - Values, either singlar or plural.
/// @param {list} $sides - Sides (top, left, etc.).
///

@mixin box-size($attribute, $values, $sides: null) {
    @if $sides {
        @if length($values) > 1 {
            // Discard all values but the first if explicit sides are provided.
            $values: nth($values, 1);
        }

        @each $side in $sides {
            @include rem(#{$attribute + '-' + $side}, $values);
        }
    } @else {
        @include rem(#{$attribute}, $values);
    }
}

@mixin margin($margin, $side: null) {
    @include box-size(margin, $margin, $side);
}

@mixin padding($padding, $side: null) {
    @include box-size(padding, $padding, $side);
}

@mixin width($width, $sides: null) {
    @include box-size(width, $width);
}

@mixin height($height, $sides: null) {
    @include box-size(height, $height);
}

/// 
/// Quickly set the width and height of an element.
///
/// @example scss - Size function.
///
///     @size(50rem 30rem);
/// 
/// @param {list} $sizes - Width and height sizes.
///

@mixin size($sizes...) {
    $sizes: if(length($sizes) == 1, nth($sizes, 1), $sizes);

    $width: nth($sizes, 1);
    $height: nth($sizes, 2);

    @if is-decimal($width) {
        @include width($width);
    } @else {
        width: $width;
    }

    @if is-decimal($height) {
        @include height($height);
    } @else {
        height: $height;
    }
}
